name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
  schedule:
    - cron: "3 3 * * 2" # 3:03 AM, every Tuesday

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Lint:
    runs-on: macos-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Install SwiftFormat
        run: |
          brew unlink swiftformat
          brew install swiftformat --HEAD

      - name: SwiftFormat Lint
        run: swiftformat --lint . --reporter github-actions-log

  macOS:
    if: github.event_name != 'pull_request' || !contains(github.event.pull_request.title, '[skip ci]')
    name: ${{ matrix.platform }} (Swift ${{ matrix.swift }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        platform:
          - macOS
        swift:
          - "6.0"
          - "6.1"
          - "6.2"
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Run Tests
        uses: mxcl/xcodebuild@v3
        with:
          platform: ${{ matrix.platform }}
          swift: ~${{ matrix.swift }}
          action: test
          verbosity: xcbeautify

  check-swift-syntax-compatibility:
    name: Swift Syntax Compatibility Check
    runs-on: macos-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5

      - name: Run Swift Syntax Compatibility Check
        uses: davdroman/swift-macro-compatibility-check@from-version
        with:
          run-tests: false
          from-version: "600.0.0"
          major-versions-only: true
